@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/    v2.0 | 20110126    License: none (public domain) */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 	margin: 0; 	padding: 0; 	border: 0; 	font-size: 100%; 	font: inherit; 	vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 	display: block; } body { 	line-height: 1; } ol, ul { 	list-style: none; } blockquote, q { 	quotes: none; } blockquote:before, blockquote:after, q:before, q:after { 	content: ''; 	content: none; } table { 	border-collapse: collapse; 	border-spacing: 0; }

body{
    background-image: url("imagens/background.png");
    background-size: cover;
}

.conteudo{
    height: 100vh;
}

.cabecalho{
    margin-left: 73px;
    margin-right: 73px;
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-principal{
    display: flex;
    align-items: center;
}

.menu-principal a{
    margin-left: 51px;
    text-decoration: none;
    color: #fff;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: light;
    text-transform: uppercase;
}

.item-redes-sociais{
    margin-left: 16px;
}

.principal{
    margin-left: 73px;
    margin-right: 73px;
}

.linha{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col1{
    width: 474px;
}

.resumo{
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    text-align: justify;
}